.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slider{
  width: 70%;
 margin-left: 200px;
}
.pic{
  height: 300px
}
.form{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  font-family:Agbalumo
}
.snap{
  border-radius: 50px;
}
.snap:hover{
  transform: scale(0.75);
}
.image{
  box-shadow:  0 0 5px red, 0 0 25px grey;
}
.car{
  width: 200px;
  height: 100px;
  margin-top: 8px;
  border-radius: 50px;
}
.car:hover{
  transform: rotate(5deg);
}
.pro{
  width: 200px;
  height: 100px;
  margin-top: 8px;
  border-radius: 50px;
}
.pro:hover{
  transform: translate(5px,10px);
}
.post{
  width: 200px;
  height: 100px;
  margin-top: 8px;
  border-radius: 50px;
}
.post:hover{
  transform: scaleX(0.5);
}